*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#FFFFFF;
    --secondary-color:#A259FF;
    --font-primary: 'Work Sans', sans-serif;
    --font-secondary: 'Space Mono', monospace;
}

body {
    background-color: #2b2b2b;
    color:var(--primary-color); 
    margin:0;
    font-family: var(--font-primary)

}
/*default tags*/

.d-flex{
    display:flex;
}
.j-center {
    justify-content: center;
}
.a-center {
    align-items: center;
}
.space-between{
    justify-content: space-between;
}

.all-caps {
  text-transform: capitalize;
}
.direction-column{
    flex-direction: column;
}
.capitalize-word {
    text-transform: uppercase;
}
.grey {
    color: #858584;
    font-family: var(--font-primary);
}
h3{
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    margin:0;
 }

section {
    padding: 80px 0px;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 60px;
}

p {
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
    margin:0;
}
/*header*/

header {
    padding: 20px 50px;
}

.logo {
    width: 243.41px;
    height: 32px;
}
.sign-up {
        background-color: var(--secondary-color);
        padding:19px 30px;
        border-radius: 20px;
        gap:12px;
        width: fit-content;
        height: 60px;
        justify-content: center;
        align-items: center;
        & span {
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            color: var(--primary-color);
            font-family: var(--font-primary);
            width: fit-content;
            height: 22px;
        }

    }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap:10px;
    & li {
        padding:12px 20px;
        font-weight: 600;
        size: 16px;

    }
        & a {
            text-decoration: none;
            color: var(--primary-color);
        }
    
}

/* introduction */

.introduction-wrapper {
    width: 1050px;
    gap: 30px;
    align-items: flex-start;
}

.content-wrapper{
    gap: 30px;
    width: 510px;
    height: 544px;
    flex: 1;
}

.text-wrapper{
    gap:20px;
    & h1{
       font-size:67px;
       font-weight: 600;
       line-height: 110%;
       margin:0;
       text-transform: capitalize;

    }
    & p {
        margin: 0;
        font-weight: 400;
        font-size: 22px;
        line-height: 160%;
    }
}
& .rocket {
        background-color: var(--secondary-color);
        padding:20px 50px;
        border-radius: 20px;
        gap:12px;
        height: 60px;
        width: fit-content;
        justify-content: center;
        align-items: center;
        & span {
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            color: var(--primary-color);
            font-family:var(--font-primary);
            
        }
    }    

.gif-wrapper {
    width: fit-content;
    height: 510px;
    flex:1;
}
.numbers-wrapper{
    gap:30px
}

.numbers {
    & a {
        font-weight: 700;
        font-size: 28px;
        line-height: 140%;
        font-family: var(--font-secondary);
    }
    & span {
        font-weight: 400;
        font-size: 24px;
        line-height: 160%;
    }
}